:root{
   /*### Primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /*### Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--Off-white);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 2em 1.5em;
    font-family: Inter, serif;
    position: relative;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 10;
}
#logo{
    width: 17.5%;
}

#icon-menu{
    display: block;
    width: 3em;
    height: 1.25em;
    cursor: pointer;
}
#icon-menu-close{
    display: block;
    width: 2.5em;
    justify-self: flex-end;
    cursor: pointer;
}
.menu{
    display: block;
    position: fixed;
    background-color: var(--Off-white);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    justify-items: end;
    transition: all 1s ease-in;
    transform: translateX(1024px);
}
.side-menu{
    background-color: var(--Off-white);
    width: 65%;
    height: 100%;
    padding: 2em;
    transition: all 1s ease-in;
}
ul{
    display: block;
    list-style: none;
    margin: 7em auto;
}
li{
    font-size: 1.25em;
    margin: 1.5em auto;
    transition: all 250ms ease-in-out;
}
li:hover{
    cursor: pointer;
    color: var(--Soft-red);
}
#mobile-img{
    display: block;
    width: 100%;
    margin: 2em auto;
}
#desktop-img{
    display: none;
}
.web-3-description h1{
    font-size: 2.65em;
    line-height: 1em;
    font-weight: 800;
}
.web-3-description p{
    font-size: 0.9em;
    line-height: 1.75em;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    margin: 1em auto;
}
.web-3-description h2{
    display: inline-block;
    background-color: var(--Soft-red);
    text-transform: uppercase;
    padding: 1em 2.25em;
    font-size: 1em;
    letter-spacing: 0.2em;
    font-weight: 800;
    margin: 0.75em auto;
    transition: all 500ms ease-in-out;
}
.web-3-description h2:hover{
    cursor: pointer;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}

.sidelines{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    margin: 3em auto;
    width: 100%;
    padding: 1.5em;
}
.sidelines h1{
    color: var(--Soft-orange);
}
.sidelines .cars, .artistry, .funding{
    margin: 2em auto;
    border-bottom: 1px solid var(--Grayish-blue);
}
.sidelines h2{
    font-size: 1.25em;
    transition: all 250ms ease-in-out;
}
.sidelines h2:hover{
    cursor: pointer;
    color: var(--Soft-orange);
}
.sidelines p{
    font-size: 0.9em;
    color: var(--Grayish-blue);
    font-weight: 400;
    margin: 1em auto;
    margin-bottom: 2em;
    line-height: 1.75em;
}
.funding{
    border-bottom: none;
    margin-bottom: -2em;
}

.gadgets{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-items: center;
}
.retro-pc, .laptops, .gaming{
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: center;
}
.retro-pc img, .laptops img, .gaming img{
    width: 30%;
}
.gadgets h1{
    color: var(--Soft-red);
    font-size: 2.2em
}
.gadgets h2{
    font-size: 1.2em;
    font-weight: 800;
    margin: 0.5em auto;
    transition: all 250ms ease-in-out;
}
.gadgets h3{
    color: var(--Dark-grayish-blue);
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.75em;
}
.gadgets h2:hover{
    cursor: pointer;
    color: var(--Soft-red);
}

@media screen and (min-width:650px) {
    .container{
        display: grid;
        grid-template: 1fr 6fr 4fr  / 1fr 1fr;
        gap: 1em;
    }
    header{
        grid-area: 1 / 1 / 2 / 3;
    }
     .web-3{
        grid-area: 2 / 1 / 3 / 3;
    }
    #logo{
        width: 15%;
    }
    .sidelines{
        grid-area: 3 / 1 / 4 / 2;
        justify-content: center;
        height: 100%;
        margin: 0;
    }
    .gadgets{
        grid-area: 3 / 2 / 4 / 3;
        justify-content: start;
        height: 100%;
        margin: 0;
    }
    .retro-pc img, .laptops img, .gaming img{
        width: 30%;
    }
}

@media screen and (min-width: 750px) {
    .container{
        display: grid;
        grid-template: 1fr 6fr 5fr / 1fr 1fr;
    }
    #logo{
        width: 12.5%;
    }
    header{
        grid-area: 1 / 1 / 2 / 3;
    }
    #mobile-img{
        display: none;
    }
    #desktop-img{
        display: block;
        width: 100%;
        margin: 2em auto;
    }
    .web-3{
        grid-area: 2 / 1 / 3 / 3;
    }
    .sidelines{
        grid-area: 3 / 1 / 4 / 2;
    }
    .gadgets{
        grid-area: 3 / 2 / 4 / 3;
    }
}
@media screen and (min-width:1000px) {
    .container{
        grid-template: 0.5fr 4fr 1.5fr / 2fr 1fr;
        padding: 3em 5em;
    }
    header{
        grid-area: 1 / 1 / 2 / 3;
        background-color: var(--Off-white);
        align-content: space-between;
    }
    #icon-menu, #icon-menu-close{
    display: none;
    }
    .menu{
        display: block;
        width: 100%;
        position: relative;
        transform: none;
        transition: none;
    }
    .side-menu{
        width: 100%;
        padding: 0;
        align-content: center;
        margin: 0;
        transform: none;
        transition: none;
    }
    ul{
        display: flex;
        margin: 0;
        justify-content: end;
    }
    li{
        margin: 1em;
        font-size: 1em;
    }
    .web-3{
        grid-area: 2 / 1 / 3 / 2;
    }
    #desktop-img{
        margin-top: 0;
        margin-bottom: 1em;
    }
    .web-3-description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        align-items: center;
    }
    .web-3-description h1{
        font-size: 3em;
        margin-right: 1em;
    }
    .web-3-description p{
        margin: 0;
        font-size: 0.85em;
    }
    .web-3-description h2{
        font-size: 0.75em;
        margin-top: 1em;
    }
    .sidelines{
        grid-area: 2 / 2 / 3 / 3;
    }
    .sidelines h2{
        font-size: 1.1em;
    }
    .sidelines p{
        font-size: 0.85em;
        margin-bottom: 1em;
    }
    .gadgets{
        grid-area: 3 / 1 / 4 / 3;
        display: flex;
        flex-direction: row;
    }
    .gadgets h1{
        font-size: 2em;
    }
    .gadgets h2{
        font-size: 1em;
    }
    .gadgets h3{
        font-size: 0.75em;
    }
    #logo{
    width: 7.5%;
}
}
@media screen and (min-width: 1200px) {
    .container{
        padding: 5em 7em;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        padding: 5em 10em;
    }
}